* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}

body {
  background-color: #f8f8f8;
  color: #333;
  line-height: 1.6;
}
.logo1 {
  mix-blend-mode: multiply;
  width: px;
  height: 50%;
}
img {
  width: 80px;
}

.img {
  mix-blend-mode: multiply;
}

header {
  display: flex;
  background-color: dimgray;
  color: #ebebeb;
  text-align: center;
  justify-content: center;
  align-items: center;
  gap: 1.5em;
  box-shadow: 0px 9px 6px #e8e8f2c8;
}

nav {
  background-color: silver;
  padding: 10px 0px;
  text-align: center;
}

nav li {
  display: inline-block;
}

nav li a {
  color: white;
  text-decoration: none;
  padding: 10px 20px;
}

nav li a:hover {
  background-color: #57514f5f;
}

.welcome {
  background-color: #0c2948;
  padding: 20px 10px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 40px;
}

.welcome p {
  font-size: 1.4em;
  color: white;
  text-shadow: 1px 0px white;
}

.welcome img {
  border-radius: 50%;
  margin-bottom: 20px;
  width: 300px;
  height: fit-content;
}

article {
  background-color: rgb(163, 161, 164);
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.1);
  font-size: small;
  height: 200px;
  width: 1000px;
}

article h2 {
  color: #0e0d0d;
  margin-bottom: 10px;
  font-size: 19px;
  text-shadow: 1px 2px rgb(130, 125, 125);
}

aside {
  flex: 1;
  background-color: rgb(163, 161, 164);
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.1);
  font-size: large;
  font-weight: 500;
  width: 80px;
}

aside h3 {
  color: #0a0909;
  font-size: 1em;
  margin-bottom: 22px;
  text-shadow: 1px 2px rgb(130, 125, 125);
}

aside ul {
  list-style: none;
  display: inline-flex;
}

aside ul li {
  margin-bottom: 10px;
  list-style: none;
}

aside ul li a {
  text-decoration: none;
  color: #716a6a;
}

.article-wrapper {
  display: flex;
  gap: 5px;
  margin: 20px;
}

footer {
  background: rgb(163, 161, 164);
  color: white;
  text-align: center;
  padding: 20px;
}

.content {
  background-color: #0c2948;
  padding: 20px;
  display: flex;
  flex-direction: column;
  justify-content: left;
  align-items: center;
}

.content h2 {
  color: white;
  font-size: 1.5em;
  margin-bottom: 20px;
  text-align: left;
}

.content p {
  font-size: 1.1em;
  color: white;
  margin-bottom: 40px;
}
li {
  display: list-item;
  text-align: -webkit-match-parent;
  unicode-bidi: isolate;
  color: white;
  list-style: circle;
  margin-bottom: 5px;
  font-size: large;
}

#learn_more {
  background: white;
  padding: 10px 20px;
  font-size: 1em;
  cursor: pointer;
  border-radius: 5px;
  border: none;
  color: #100f0ff3;
  transition: all 0.3s;
  width: 100px;
  text-align: center;
  overflow: hidden;
  width: max-content;
  font-weight: 400;
  margin-top: 50px;
}

#learn_more:hover {
  background-color: #b9b8bbcc;
  color: white;
}
.fa {
  padding: 20px;
  font-size: 30px;
  width: px;
  text-align: center;
  text-decoration: none;
  margin: 5px 2px;
  border-radius: 50%;
  top: 0;
  bottom: 0;
}

.fa:hover {
  opacity: 0.7;
}
.fa-linkedin {
  background: #093d62;
  color: white;
}

.fa-instagram {
  background: #b529bf;
  color: white;
}
.fa-facebook {
  background: #122183;
  color: white;
  width: 55px;
}

p {
  color: black;
  text-align: left;
  font-size: large;
  padding: 10px;
}
.fa-github {
  color: white;
  width: px;
}
